# Here should only variable, but for test work, i don't delete basic value
DATABASE_SECRET_KEY='django-insecure-(*(fu!vmj8jf!5gfxk0+yn=z3di0##w_lkl9h(a&y$=5d-ccqv'

# Delete comment and select engine below
#DATABASE_ENGINE=postgresql || sqlite
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD_USER=
DATABASE_HOST=
DATABASE_PORT=
